body {
	background: url('/images/flowers.JPG') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	text-align: center;
}

p {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 13px;
	color: #000050;
	font-weight: bold;
}

h1 {
	font-family: Impact, Charcaol, sans-serif;
	font-size: 18px;
	color: #270672;
}

h2 {
	font-family: Charcoal, sans-serif;
	font-size: 14px;
	color: 4212AF;
}




#welcome {
width:520px;
height:390px;
position:absolute;
left:50%;
top:50%;
margin:-210px 0 0 -260px;
padding: 15px;
border:0px;
background:rgba(168,197,255,0.8);
background-origin:border-box;
-moz-box-shadow: 30px 30px 95px #000000;
-webkit-box-shadow: 30px 30px 95px #000000;
box-shadow: 20px 20px 85px #000000;
}
