p {
	font-family: Verdana, Arial, Helevtiva, sans-serif;
	font-size: 20px;
	color: #000050;
}

h1 {font-family: Arial, Helvetiva, sans-serif;
font-size: 14px;
color: #0000BB;}

body {
	margin: 30px;
}

a:link {
	color: #000099;
	text-decoration: underline;}

a:visited {
	color: #666666;}

a:hover {
	text-decoration:none;
	background-color: #CCCCCC;}

body {
	text-align: center;
}

#page-wrap {
	width: 800px;
	margin: 0 auto;
}

html {
	background: url(images/jumpingbeach.jpg) no-repeat center center
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
}
