p {
	font-family: Verdana, Arial, Helevtiva, sans-serif;
	font-size: 20px;
	color: #000050;
}

h1 {font-family: Arial, Helvetiva, sans-serif;
font-size: 14px;
color: #0000BB;}

body {
	background: url('http://imageshack.us/a/img10/7141/cs8a.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

a:link {
	color: #000099;
	text-decoration: underline;}

a:visited {
	color: #666666;}

a:hover {
	text-decoration:none;
	background-color: #CCCCCC;}

body {
	text-align: center;
}

#page-wrap {
	width: 800px;
	margin: 0 auto;
}


#div1
{
width:300px;
height:400px;
position:absolute;
left:50%;
top:50%;
margin:-200px 0 0 -300px;
border:0px;
padding:35px;
background-color: #4867D6;
background:rgba(255,255,255,0.7);
background-origin:border-box;
-moz-box-shadow: 30px 30px 95px #000000;
-webkit-box-shadow: 30px 30px 95px #000000;
box-shadow: 20px 20px 85px #000000;
}
#div2
{
background-origin:content-box;
}
