p {
	font-family: Verdana, Arial, Helevtiva, sans-serif;
	font-size: 20px;
	color: #000050;
}

h1 {font-family: Arial, Helvetiva, sans-serif;
font-size: 14px;
color: #0000BB;}

body {
	margin: 30px;
}

a:link {
	color: #000099;
	text-decoration: underline;}

a:visited {
	color: #666666;}

a:hover {
	text-decoration:none;
	background-color: #CCCCCC;}

body {
	text-align: center;
}

#page-wrap {
	width: 800px;
	margin: 0 auto;
}

#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}